<div class="author">
    <h1 class="author__heading">TRANSFER INSTANTLY 24/7</h1>
    <p class="author__body">Transfer instantly 24/7 through MES Internet Banking with no fees to any Bank Account.</p>
  </div>
  
  <img src="/img/16.-Authorised-Banks-for-TDS-Payment.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Transactions</h2>
  
    <ul class="article-ul">
        <li>
          <a href="#">
            <span> Current Transfer </span>
            <span class="article-list__date">Date</span>
          </a>
        </li>
        <li>
            <a href="#">
              <span> Previous Transfer </span>
              <span class="article-list__date">Date</span>
            </a>
          </li>
    </ul>
  
      <a href="#" class="pagination">&lt; View Transfer List</a>
      </section>